<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Finished</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .finish-container {
            margin: 20px;
            text-align: center;
        }
        .finish-button {
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            margin: 10px;
            background-color: #007bff;
            color: white;
        }
        .retry-button {
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="finish-container">
        <h1>You finished the Quiz!</h1>
        <a href="{{ url_for('reset_quiz', quiz_name=quiz_name) }}" class="finish-button retry-button">Retry</a>
        <a href="{{ url_for('home') }}" class="finish-button">Home</a>
    </div>
</body>
</html>